@font-face {
    font-family: myFont;
    src: url(Component/TT.otf);
}
@font-face {
    font-family: maFont;
    src: url(Component/GaleySemiB.ttf);
}
@font-face {
    font-family: aceh;
    src: url(Component/Aceh-Light.ttf);
}
